<% if session[:message] != '' %>
  <div><h1><%= session[:message] %></h1></div>
  <div>
    <form action="/play_again" method="post" class="form-inline">
      Would you like to play again?
      <button type="submit" class="btn btn-success" name="play_again" value="yes">Yes</button>
      <button type="submit" class="btn btn-danger" name="play_again" value="no">No</button>
    </form>
  </div>
<% else %>
  <div><h2><%= session[:username] %> has placed a wager of $<%= session[:wager] %></h2></div>
<% end %>
  <% if session[:show_dealer_hand] == false %>
    <div><h2>Dealer Hand: Showing <%= hand_total([session[:dealer_hand][1]]) %></h2></div>
    <img src="/images/cards/cover.jpg" />
    <img src="/images/cards/<%= card_image(session[:dealer_hand][1]) %>" />
  <% else %>
    <div><h2>Dealer Hand: <%= hand_total(session[:dealer_hand]) %></h2></div>
    <% session[:dealer_hand].each do |card| %>
      <img src="/images/cards/<%= card_image(card) %>" />
    <% end %>
  <% end %>
  <div><h2><%= session[:username] %>'s Hand: <%= hand_total(session[:player_hand]) %></h2></div>
<% session[:player_hand].each do |card| %>
  <img src="/images/cards/<%= card_image(card) %>" />
<% end %>
<% if session[:player_turn] && !session[:game_over] %>
  <div>Would you like to hit or stay?</div>
  <form action="/player_turn" method="post" class="form-inline">
    <button type="submit" class="btn btn-success" name="player_move" value="hit">Hit</button>
    <button type="submit" class="btn btn-danger" name="player_move" value="stay">Stay</button>
  </form>
<% end %>
