<div id='game'>
  <% if @show_play_again_buttons %>
    <% if session[:user_money] > 0 %>
      <p>Would you like to play again?</p>
      <a href='/bet' class='btn btn-primary'>Yes</a>
      <a href='/game_over' class='btn'>No</a>
    <% else %>
      <p>You are broke. Go home</p>
      <a href='/start_over' class='btn'>Start Over</a>
    <% end %>
  <% end %>
  <div><h2>Welcome to Blackjack!</h2></div>
  <div class='well'>
    <div><h4>Dealer Hand:</h4></div>
    <% session[:dealer_hand].each_with_index do |card, i| %>
      <% if session[:show_dealer_hand] == false && i == 0 %>
        <img class='card-image' src='/images/cards/cover.jpg' />
      <% else %>
        <img class='card-image' src="/images/cards/<%= card_image(card) %>" />
      <% end %>
    <% end %>
    <% if @show_dealer_hit_button %>
      <p>The Dealer has <%= hand_total(session[:dealer_hand]) %> and must play another card.</p>
      <form action='/game/dealer/hit' method='post' id='dealer-hit-form'>
        <input type='submit' class='btn btn-primary' value='Show Dealer Hit' />
      </form>
    <% end %>
  </div>
  <div class='well'>
    <div><h4><%= session[:username] %>'s Hand:</h4></div>
    <% session[:player_hand].each do |card| %>
      <img class='card-image' src="/images/cards/<%= card_image(card) %>" />
    <% end %>
    <h5><%= session[:username] %> has $<%= session[:user_money] %> and has wagered $<%= session[:wager] %> this round.</h5>
  </div>
  <% if @show_hit_or_stay_buttons %>
    <div><%= session[:username] %>'s hand is <%= hand_total(session[:player_hand]) %> and Dealer is showing <%= hand_total([session[:dealer_hand][1]]) %>. Hit or stay?</div>
    <form action="/game/player/hit" method="post" class="form-inline hit-stay-form" id='hit-form'>
      <input type="submit" class="btn btn-success" value="Hit">
    </form>
    <form action="/game/player/stay" method="post" class="form-inline hit-stay-form" id='stay-form'>
      <input type="submit" class="btn btn-danger" value="Stay">
    </form>
  <% end %>
</div>
