<% if @show_start_dealer_turn_button %>
  <div>
    <form action="/game/dealer/turn" method="post">
      <input type='submit' class='btn btn-success' value='Start Dealer Turn'>
    </form>
  </div>
<% end %>
<% if session[:message] != '' %>
  <div><h1><%= session[:message] %></h1></div>
  <div>
    <form action="/play_again" method="post" class="form-inline">
      Would you like to play again?
      <button type="submit" class="btn btn-success" name="play_again" value="yes">Yes</button>
      <button type="submit" class="btn btn-danger" name="play_again" value="no">No</button>
    </form>
  </div>
<% else %>
  <div><h2>Welcome to Blackjack!</h2></div>
<% end %>
<div class='well'>
  <% if session[:show_dealer_hand] == false %>
    <div><h3>Dealer Hand: Showing <%= hand_total([session[:dealer_hand][1]]) %></h3></div>
    <img class='card-image' src="/images/cards/cover.jpg" />
    <img class='card-image' src="/images/cards/<%= card_image(session[:dealer_hand][1]) %>" />
  <% else %>
    <div><h3>Dealer Hand: <%= hand_total(session[:dealer_hand]) %></h3></div>
    <% session[:dealer_hand].each do |card| %>
      <img class='card-image' src="/images/cards/<%= card_image(card) %>" />
    <% end %>
  <% end %>
</div>
<div class='well'>
  <div><h3><%= session[:username] %>'s Hand: <%= hand_total(session[:player_hand]) %></h3></div>
  <% session[:player_hand].each do |card| %>
    <img class='card-image' src="/images/cards/<%= card_image(card) %>" />
  <% end %>
</div>
<% if @show_hit_or_stay_buttons %>
  <div><%= session[:username] %>'s hand is <%= hand_total(session[:player_hand]) %>. Hit or stay?</div>
  <form action="/game/player/hit" method="post" class="form-inline hit-stay-form">
    <input type="submit" class="btn btn-success" value="Hit">
  </form>
  <form action="/game/player/stay" method="post" class="form-inline hit-stay-form">
    <input type="submit" class="btn btn-danger" value="Stay">
  </form>
<% end %>
